In [3]:
df = pd.read_csv("../MACH_data/cut_off_by_avg.csv")
df.tail()

,Q1_TP_notell_2u,Q1I,Q1E_notell_2u,Q2_TP_ppl_nd_dangun,Q2I,Q2E_ppl_nd_dangun,Q3_TN_do_moral,Q3I,Q3E_do_moral,Q4_VN_ppl_good,...,religion,orientation,race,voted,married,familysize,score,v_score,t_score,m_score
53015,4.0,15.0,5.0,1.0,16.0,5.0,1.0,10.0,5.0,1.0,...,Agnostic,Homosexual,White,Yes,Never married,3,83.0,42.0,34.0,7.0
53016,5.0,1.0,10.0,5.0,13.0,5.0,4.0,15.0,11.0,4.0,...,Other,Heterosexual,Asian,No,Never married,1,64.0,31.0,26.0,7.0
53017,2.0,17.0,10.0,1.0,6.0,14.0,2.0,16.0,25.0,4.0,...,Other,Heterosexual,Asian,No,Currently married,1,59.0,28.0,26.0,5.0
53018,5.0,9.0,6.0,5.0,4.0,4.0,1.0,15.0,7.0,1.0,...,Atheist,Homosexual,White,No,Never married,2,90.0,37.0,43.0,10.0
53019,2.0,17.0,5.0,1.0,18.0,7.0,1.0,9.0,5.0,1.0,...,Agnostic,Heterosexual,White,No,Never married,3,69.0,34.0,27.0,8.0

In [4]:
df.shape

(53020, 108)

In [5]:
df.columns[40:]

Index(['Q14I', 'Q14E_ppl_brave', 'Q15_TP_abu_good', 'Q15I', 'Q15E_abu_good',
       'Q16_TN_ppl_good', 'Q16I', 'Q16E_ppl_good', 'Q17_VN_ppl_notbad', 'Q17I',
       'Q17E_ppl_notbad', 'Q18_VP_komsu_better', 'Q18I', 'Q18E_komsu_better',
       'Q19_MP_anrocksa_ok', 'Q19I', 'Q19E_anrocksa_ok', 'Q20_VP_money_good',
       'Q20I', 'Q20E_money_good', 'country', 'introelapse', 'testelapse',
       'surveyelapse', 'TYP_out', 'TYP_fight', 'TYP_depnd', 'TYP_anx',
       'TYP_try', 'TYP_quiet', 'TYP_warm', 'TYP_disorg', 'TYP_calm',
       'TYP_stable', 'VCL1', 'VCL2', 'VCL3', 'VCL4', 'VCL5', 'VCL6_F', 'VCL7',
       'VCL8', 'VCL9_F', 'VCL10', 'VCL11', 'VCL12_F', 'VCL13', 'VCL14',
       'VCL15', 'VCL16', 'education', 'urban', 'gender', 'engnat', 'age',
       'screenw', 'screenh', 'hand', 'religion', 'orientation', 'race',
       'voted', 'married', 'familysize', 'score', 'v_score', 't_score',
       'm_score'],
      dtype='object')

In [9]:
id_cols = ['education', 'urban', 'gender', 'engnat', 'age', 'hand', 'religion', 'orientation', 'race', 'voted', 'married', 'familysize', 'country']

In [11]:
df_id = df[id_cols]
df_id.tail()

,education,urban,gender,engnat,age,hand,religion,orientation,race,voted,married,familysize,country
53015,University degree,Urban,Male,Yes,19,Right,Agnostic,Homosexual,White,Yes,Never married,3,CA
53016,University degree,Urban,Male,Yes,22,Right,Other,Heterosexual,Asian,No,Never married,1,IE
53017,Graduate degree,Urban,Male,No,29,Right,Other,Heterosexual,Asian,No,Currently married,1,US
53018,High school,Suburban,Female,No,20,Right,Atheist,Homosexual,White,No,Never married,2,PL
53019,High school,Urban,Male,No,31,Right,Agnostic,Heterosexual,White,No,Never married,3,RO