In [4]:
import pandas as pd
import sweetviz

In [5]:
df = pd.read_csv("./open_data/data.csv", delimiter="\t")

In [6]:
df.head()

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screenw,screenh,hand,religion,orientation,race,voted,married,familysize,major
0,3.0,6.0,21017.0,3.0,7.0,18600.0,5.0,20.0,14957.0,2.0,...,1440.0,900.0,1,7,1,30,1,2,5,Marketing
1,5.0,17.0,3818.0,5.0,9.0,7850.0,1.0,16.0,5902.0,3.0,...,1536.0,864.0,1,1,1,60,2,1,2,mathematics
2,5.0,16.0,4186.0,5.0,12.0,2900.0,1.0,2.0,7160.0,1.0,...,375.0,667.0,1,2,2,10,2,1,2,Chemistry
3,2.0,12.0,9373.0,4.0,1.0,10171.0,2.0,7.0,10117.0,1.0,...,1280.0,720.0,1,6,1,60,1,3,2,international relations
4,5.0,13.0,9465.0,5.0,7.0,5284.0,2.0,19.0,8872.0,1.0,...,360.0,640.0,1,4,3,60,1,1,2,Management

In [4]:
data_report = sweetviz.analyze(df)

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=106.0), HTML(value='')), layout=Layout(di…

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=105.0), HTML(value='')), layout=Layout(di…

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=1.0), HTML(value='')), layout=Layout(disp…

In [27]:
df_vt = df.copy()

In [28]:
df_vt[df_vt["voted"]==2]=0

In [33]:
df_vt["voted"].value_counts()

0    41195
1    32294
Name: voted, dtype: int64

In [37]:
df_vtd = df_vt[df_vt["voted"]==1]
df_nvtd = df_vt[df_vt["voted"]==0]

In [44]:
df_vt['country'] = df_vt['country'].astype(str)

In [45]:
df_vt['major'] = df_vt['major'].astype(str)

In [49]:
data_report_vt = sweetviz.compare_intra(df_vt, df_vt["voted"] == 1, ["voted", "not_voted"])

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=106.0), HTML(value='')), layout=Layout(di…

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=105.0), HTML(value='')), layout=Layout(di…

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=1.0), HTML(value='')), layout=Layout(disp…

In [50]:
data_report_vt.show_html()

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [ ]:
feature_config = sv.FeatureConfig(force_cat='voted')

In [15]:
df_major = pd.DataFrame(df["major"].value_counts())

In [17]:
len(df_major[df_major["major"]==1])

6927

In [18]:
df_major[df_major["major"]==1]

                            major
international economisc         1
Nau                             1
business finance                1
jazz bass                       1
Sign language interpreting      1
...                           ...
Trade school cosmetology        1
Consumer sciences               1
vet science                     1
neveles                         1
philosphy                       1

[6927 rows x 1 columns]

In [39]:
def tran_cate(cate):
    cate_srz = df['{}'.format(cate)]
    cate_srz = cate_srz.astype('str')
    for data in categories[cate].keys():
        cate_srz[cate_srz==data] = categories[cate][data]
    return cate_srz

In [41]:
tran_cate("married")

0         Currently married
1             Never married
2             Never married
3        Previously married
4             Never married
                ...
73484     Currently married
73485         Never married
73486         Never married
73487         Never married
73488         Never married
Name: married, Length: 73489, dtype: object

In [7]:
tran_cate("married", "1", "never")

0            2
1        never
2        never
3            3
4        never
         ...
73484        2
73485    never
73486    never
73487    never
73488    never
Name: married, Length: 73489, dtype: object

In [35]:
categories= {"married": {"1":"Never married", "2":"Currently married", "3":"Previously married"},
"race":{"10":"Asian", "20":"Arab", "30":"Black", "40":"Indigenous Australian", "50":"Native American", "60":"White", "70":"Other"},
"orientation":{"1":"Heterosexual", "2":"Bisexual", "3":"Homosexual", "4":"Asexual", "5":"Other"}}

In [37]:
for cate in categories.keys():
    tran_cate(cate)

In [38]:
df

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screenw,screenh,hand,religion,orientation,race,voted,married,familysize,major
0,3.0,6.0,21017.0,3.0,7.0,18600.0,5.0,20.0,14957.0,2.0,...,1440.0,900.0,1,7,1,30,1,2,5,Marketing
1,5.0,17.0,3818.0,5.0,9.0,7850.0,1.0,16.0,5902.0,3.0,...,1536.0,864.0,1,1,1,60,2,1,2,mathematics
2,5.0,16.0,4186.0,5.0,12.0,2900.0,1.0,2.0,7160.0,1.0,...,375.0,667.0,1,2,2,10,2,1,2,Chemistry
3,2.0,12.0,9373.0,4.0,1.0,10171.0,2.0,7.0,10117.0,1.0,...,1280.0,720.0,1,6,1,60,1,3,2,international relations
4,5.0,13.0,9465.0,5.0,7.0,5284.0,2.0,19.0,8872.0,1.0,...,360.0,640.0,1,4,3,60,1,1,2,Management
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73484,2.0,17.0,9925.0,1.0,6.0,14218.0,2.0,16.0,25499.0,4.0,...,2048.0,1080.0,1,12,1,10,2,2,1,business
73485,5.0,9.0,5816.0,5.0,4.0,4368.0,1.0,15.0,7246.0,1.0,...,1440.0,900.0,1,2,3,60,2,1,2,sociology
73486,2.0,17.0,5353.0,1.0,18.0,6846.0,1.0,9.0,4920.0,1.0,...,1280.0,1024.0,1,1,1,60,2,1,3,NaN
73487,4.0,15.0,7974.0,3.0,9.0,7901.0,5.0,17.0,8647.0,3.0,...,414.0,736.0,1,3,1,10,1,1,4,Business
73488,3.0,12.0,7567.0,1.0,10.0,5766.0,5.0,13.0,37103.0,1.0,...,1366.0,768.0,1,4,1,70,2,1,4,NaN

In [15]:
categories["married"]["1"]

'Never married'

In [17]:
categories["married"].keys()

dict_keys(['1', '2', '3'])

In [21]:
married = df["married"].astype("str")

In [34]:
married[married=="1"] = "yes"
married

0          2
1        yes
2        yes
3          3
4        yes
        ...
73484      2
73485    yes
73486    yes
73487    yes
73488    yes
Name: married, Length: 73489, dtype: object